<?xml version="1.0" encoding="UTF-8" ?>
<Contenidos>
    <infoDataset>
        <nombre>Museos de la página personal de {{ usuario }}</nombre>
        <descripcion> Datos de los Museos de la ciudad de Madrid. Localización, transportes, horarios, visitas, datos de contacto. 
     	</descripcion>
    </infoDataset>
	{% for i in paginas %}
		{% if nombreuser == i.Usuario.username %}
    	<contenido>
        	<atributos idioma="es">
            	<atributo nombre="NOMBRE">{{ i.MuseoSeleccionado.Nombre }}</atributo>
            	<atributo nombre="DESCRIPCION-ENTIDAD"><![CDATA[{{ i.MuseoSeleccionado.Descripcion }}]]></atributo>
            	<atributo nombre="ACCESIBILIDAD">{{ i.MuseoSeleccionado.Accesibilidad }}</atributo>
            	<atributo nombre="CONTENT-URL">{{ i.MuseoSeleccionado.Enlace }}</atributo>
            	<atributo nombre="LOCALIZACION">
                	<atributo nombre="NOMBRE-VIA">{{ i.MuseoSeleccionado.Direccion }}</atributo>
                	<atributo nombre="CODIGO-POSTAL">{{ i.MuseoSeleccionado.Codigopostal }}</atributo>
                	<atributo nombre="BARRIO">{{ i.MuseoSeleccionado.Barrio }}</atributo>
                	<atributo nombre="DISTRITO">{{ i.MuseoSeleccionado.Distrito }}</atributo>
            	</atributo>
            	<atributo nombre="DATOSCONTACTOS">
                	<atributo nombre="TELEFONO">{{ i.MuseoSeleccionado.Telefono }}</atributo>
                	<atributo nombre="EMAIL">{{ i.MuseoSeleccionado.Email }}</atributo>
            	</atributo>
        	</atributos>
    	</contenido>
		{% endif %}
	{% endfor %}
</Contenidos>
